<div class="sidebar sticky-top">        
    <div class="sidebar-section">
        <div class="rounded mb-3 hero2">
            <div class="row align-items-center justify-content-between">
                <div class="col-xs-8 col-md-8">
                    <h5 class="font-weight-bold mb-3 serif-font">Éste es tu Directorio de <br />Negocios Locales</h5>
                    <!-- <a href="{{site.baseurl}}/about" class="btn btn-dark text-white px-5 btn-lg">About me</a> -->
                    <p>Tu negocio también puede estár publicado aquí y es totalmente SIN COSTO. <br /><br /><a href="{{site.baseurl}}/anunciate" class="btn btn-dark text-white px-5 btn-lg">Anúnciate</a> <br />con nosotros. <br /><br />Recuerda: <strong>#ConsumeLocal</strong></p>
                    
                </div>
            </div>
        </div>
    </div>
</div>


